<div class="landing">
	<div class="container">
		<div class="row text-center">
			<div class="jumbotron top-title">
				<h1>Welcome to blah blah blah</h1>
				<small>A blah blah for blahs</small>
				<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
			</div>
		</div>
	</div>
</div>